@import url(https://fonts.googleapis.com/css?family=Gilda+Display:regular);
.hii {
  height: 58vh;
  width: 48vw;
  display: flex;
  flex-direction: column;
  position: relative;
  /* transition: ease 0.1s; */
}
.mainScreen {
  display: flex;
}
.mainImage {
  width: 48vw;
  height: 58vh;
  filter: brightness(35%);
}
.details {
  position: absolute;
  color: white;
  width: 48vw;
  height: 58vh;
  display: flex;
  flex-direction: column;
}
.title {
  position: absolute;
  font-family: Gilda Display;
  font-size: 1.7rem;
  width: 30vw;
  bottom: 21vh;
  /* right: -15px; */
  /* border: 2px solid black; */
}

.Description {
  position: absolute;
  font-family: monospace;
  padding: 4px;
  width: 40vw;
  bottom: 9.7vh;
  color: rgb(212, 212, 212);
  font-size: 0.9rem;
  height: 10vh;
  overflow-y: hidden;
}
.heading {
  display: flex;
  color: rgb(199, 198, 198);
  height: 100px;
  width: 48vw;
  justify-content: space-between;
  font-family: Arial;
  color: rgb(199, 198, 198);
  align-items: center;
  padding: 40px;
}

.DateLogo {
  height: 20px;
}
.Date {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.control {
  display: flex;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  width: 48vw;
  justify-content: space-between;
  /* border: 2px solid red; */
}
.textDetail {
  display: flex;
  flex-direction: column;
  width: 48vw;
  height: 37vh;
  padding: 40px;
}
.next:hover {
  background-color: rgba(0, 0, 0, 0.838);
  border-radius: 10px;
}
.prev:hover {
  background-color: rgba(2, 1, 0, 0.838);
  border-radius: 10px;
}




@media (max-width:1350px)  {
  .title{
    font-size:1.6rem ;
    width: 36vw;
  }
  .Description{
    
    font-size:0.87rem ;
  }
}

@media (max-width:1170px)  {
  .title{
    font-size:1.5rem ;
    width: 36vw;
  }
  .Description{
    font-size:0.8rem ;
  }
}

@media (max-width: 990px) {
  .details{
    width: 65vw;
  }
  .title {
    font-size: 1.83rem;
  }
  .control{
    width: 65vw;
  }
  .mainImage{
    width: 65vw;
  }
  .Description{
    width: 58vw;
    font-size: 0.87rem;
  }
  .heading {
    width: 65vw;
  }
}
@media (max-width: 850px) {
  .details {
    height: 50vh;
  }
  .title {
    font-size: 1.33rem;
  }
  .control{
    width: 70vw;
  }
  .mainImage{
    width: 70vw;
  }
  .heading {
    width: 70vw;
  }
}
@media (max-width: 750px) {
  .details {
    width: 85vw;
    height: 43vh;
  }
  .title {
    font-size: 1.13rem;
    width: 39vw;
  }
  .mainImage{
    width: 85vw;
  }
  .control{
    width: 85vw;
  }
  .heading {
    width: 85vw;
  }
  .Description{
    width: 66vw;
    height: 8vh;
    font-size: 0.87rem;
  }
}